// 基本設定はまとめてインポートする形だと良き
body {
  font-size: 20px;
  color: white;
  background: black;

  a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }

  .hero {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    width: 100%;
    padding: 0px;
  }

  header {
    color: white;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 20;
    position: fixed;
    text-align: center;
    padding: auto;

    h1 {
      text-align: initial;
      margin: 10px;
    }

    nav {
      // max-width: 992px;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        text-align: center;
        border: solid 1px white;

        a {
          display: block;
        }

        &:hover {
          background: rgb(173, 173, 255);
          // 気が向いたらスタイリッシュな感じにグラデーションする
          // background: linear-gradient(358deg, #000000, #ffffff);
          // background-size: 400% 400%;
          // animation: AnimationName 0s ease infinite;

          // @keyframes AnimationName {
          //   0%{background-position:100% 0%}
          //   50%{background-position:0% 100%}
          //   100%{background-position:100% 0%}
          // }
        }
      }
    }
  }

  main {
    text-align: center;
    overflow: hidden;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    li {
      text-align: initial;
    }

    img {
      object-fit: cover;
      height: 100px;
    }

    th {
      width: 100px;
    }
  }

  footer {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    font-size: 14px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 20;
    position: fixed;
  }
}